
{% extends "base.html" %}
{%load static%}
{% block  body %}


	 <link rel="stylesheet" href="{%static 'css/style2.css' %}">
		<div class="wrapper" style="background-image: url('{%static 'img/bg-registration-form-2.jpg'%}')">
			<div class="inner">
				
				

		<form action="{% url 'login' %}" method="POST">
                                	<h3>LOGIN</h3>
					<div class="form-group">
						<div class="form-wrapper">
                 {%csrf_token%}
				
                      <div class="form-wrapper">
							<label for="" >Username</label>
							<input class="form-control"type="text" name="username" placeholder="Username" style="width: 200px;">
						</div> 

					<div class="form-wrapper">
						<label for="">Password</label>
						<input class="form-control"type="password" name="password" placeholder="Password" style="width: 200px;">
						</div>
				
				
					
				  <input class="button" type="submit" style="margin-left: 25px;" >
						
				              {%for  message in messages %} 
				             <h3>{{message}}</h3>
				             {%endfor%}
				         
				</form>
			</div>
		</div>
{% block footer %}
{% endblock %}
    {% endblock body %}
